.titulosDiv{
    margin-top: 30px;
    margin-bottom: 40px;
}
.header{
    background: rgb(0,18,32);
    background: linear-gradient(0deg, rgba(0,18,32,1) 0%, rgba(49,42,72,1) 100%);
}

.layer1{
    background-image: url("../docs/ola-header.svg");
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    background-size: cover ; 
    background-repeat: no-repeat;
    background-position: bottom;
}

@media (min-width: 768px){
    .titulosDiv{
        margin-top: 90px;
        margin-bottom: 30px;
       
    }

  } 