.icono{
    color:white;
    font-size: 30px;
    margin: 15px 20px 20px 20px;
    transition: all 0.3s ease;
}

.icono:hover {
    color: #FA7268;
  }

.ic{
    font-size: 28px;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    .icono{
        font-size: 40px;
 
    }

    .ic{
        font-size: 36px;
    }
    
}